<div class="container-home">
  <h1>30 days</h1>
  <h1>Task Manager</h1>
  <p></p>
  <h3>This app helps you manage your daily tasks!</h3>
  <p></p>
  <a href="tasks" class="btn btn-danger">Get started</a>
</div>
