<div class="d-flex justify-content-center">
  <% if user_signed_in? %>
    <div>
      <p style="margin-top:7px; margin-bottom:0; margin-right:12px;"><%= current_user.email %></p>
    </div>
    <div style="margin-top:7px; margin-bottom:0; margin-right:6px;">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </div>
  </div>
  <%# <% else %>
  <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
<% end %>
</div>
