@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Josefin+Sans&family=Press+Start+2P&family=Varela+Round&display=swap');

$headers-font: 'Bungee', sans-serif;
$sub-headers-font: 'Josefin Sans', sans-serif;
$body-font: 'Josefin Sans', sans-serif;
