@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Bungee&family=Josefin+Sans&family=Roboto+Mono&display=swap');

$title-font : 'Bungee',
'Belanosima';
$headers-font: 'Bungee', 'Belanosima';
$sub-headers-font: 'Josefin Sans', 'Roboto Mono';
$body-font: 'Josefin Sans', 'Roboto Mono';
