/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "index";

h1 {
  font-family: $headers-font;
  font-weight: bold;
}

h2,
h3 {
  font-family: $sub-headers-font;
  font-weight: bold;
}

.container {
  border: 1px solid greenyellow;
  border-radius: 24px;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 80vw;

  // h1 {
  //   font-family: $headers-font;
  // }

}

.container-home {
  border: 1px solid greenyellow;
  border-radius: 24px;
  padding: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 80vw;

  // h1 {
  //   font-size: 50px;
  //   font-family: $headers-font;
  // }

}



.trash {
  font-size: 24px;
}

.each-titles a {
  text-decoration: none;
  font-size: 32px;
  font-family: $sub-headers-font;
}

textarea {
  width: 200px;
  height: 100px;
}

a {
  text-decoration: none;
  font-family: $sub-headers-font;
}

.checks {
  display: flex;
  flex-wrap: wrap;

}

.check-none {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: white;
  padding: 0;
  margin: 3px;
}

.check-done {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: greenyellow;
  padding: 0;
  margin: 3px;

}
